$tablet-width: 728px;
$tablet-height: $tablet-width * 9 / 16;

.videogular-container {
  width: 100%;
  height: 320px;
  margin: auto;
}

.tweets-container {
  width: 100%;
  height: 320px;
  margin-top: 10px;
  overflow: auto;
  border: 2px #8EC1DA solid;
  box-sizing: border-box;
}

vg-tweet {
  display: block;
  cursor: pointer;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;

  article {
    padding: 5px;

    header {
      position: relative;

      h4 {
        margin: 0;
      }

      .user {
        display: inline-block;
        margin: 0;
        height: 48px;
        top: 5px;
        bottom: 0;
        left: 63px;
        position: absolute;
      }
    }
  }


  &:hover {
    background-color: #EEEEEE;
  }

  &.selected {
    background-color: #C0DEED;
  }

  &.completed {
    opacity: 0.5;
  }
}

.animable {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s ease-out all;
}

@media (min-width: 768px) {
  .videogular-container {
    width: $tablet-width;
    height: $tablet-height;

    &.audio {
      width: $tablet-width;
      height: 50px;;
    }
  }
}
