<videogular vg-player-ready="ctrl.onPlayerReady($API)" vg-cue-points="ctrl.config.cuePoints">
    <vg-media vg-src="ctrl.config.sources" vg-youtube="rel=1;showinfo=1"></vg-media>

    <vg-controls>
        <vg-play-pause-button></vg-play-pause-button>
        <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        </vg-scrub-bar>
        <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
        <vg-volume>
            <vg-mute-button></vg-mute-button>
            <vg-volume-bar></vg-volume-bar>
        </vg-volume>
        <vg-fullscreen-button></vg-fullscreen-button>
    </vg-controls>

    <vg-analytics vg-track-info="ctrl.config.plugins.analytics"></vg-analytics>
</videogular>

<section class="tweets-container">
    <vg-tweet vg-data-provider="tweet.params"
              ng-class="{
                selected: tweet.params.selected,
                completed: tweet.params.completed
              }"
              ng-click="ctrl.API.seekTime(ctrl.config.cuePoints.tweets[$index].timeLapse.start)"
              ng-repeat="tweet in ctrl.config.cuePoints.tweets">
    </vg-tweet>
</section>
